---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  Panel

  <ul>
    <li><a href="/panel/profesores">Profesores</a></li>
    <li><a href="/panel/estudiantes">Estudiantes</a></li>
    <li><a href="/panel/grupos">Grupos</a></li>
    <li><a href="/panel/instituciones">Instituciones</a></li>
    <li><a href="/panel/programas">Programas</a></li>
    <li><a href="/panel/asignaturas">Asignaturas</a></li>
  </ul>
</Layout>
